.coursesWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.coursesWrap img {
  border-radius: 10px;
}

@media (max-width: 800px) {
  .coursesWrap {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .coursesWrap {
    grid-template-columns: 1fr;
  }
}
